/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-x: hidden;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  text-align: center;
  margin: 20px 0;
}

select {
  padding: 10px;
  font-size: 16px;
}

/* Map styles */
.leaflet-container {
  height: 400px;
  width: 100%;
}

.map-container{
  width: 100vw;
  overflow: hidden;
}
/* WeatherDisplay styles */
.weather-info {
  text-align: center;
  margin: 20px;
}

.weather-info p {
  margin: 5px 0;
}

/* Recent Searches */
.recent-searches {
  margin: 20px;
}

.recent-searches h3 {
  text-align: center;
}

.recent-searches div {
  cursor: pointer;
  text-align: center;
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.recent-searches div:hover {
  background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 768px) {
  input[type="text"] {
    width: 80%;
  }

  .leaflet-container {
    height: 300px;
  }
}

@media (max-width: 480px) {
  input[type="text"] {
    width: 100%;
  }

  .leaflet-container {
    height: 250px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }
}

.recent-search{
  color:#213547
}
